* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e09200af;;
  padding: 10px 30px;
}

.icone-moeda {
  height: 50px;
}

.header-right i {
  font-size: 28px;
  color: white;
  cursor: pointer;
}

main {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
}

.texto {
  flex: 1;
  max-width: 500px;
}

.texto h2 {
  font-size: 4rem;
  color: #e09000;;
  margin-bottom: 15px;
}

.texto p {
  font-size: 1.1rem;
  line-height: 1.5;
  text-align: justify;
  color: #333;
}

.imagem {
  width: 500px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem img {
  width: 110%;
  height: 115%;
  object-fit: cover;
  border-radius: 8px;
}

footer {
  background-color: #e09200af;
  color: white;
  text-align: center;
  padding: 10px;
  border-top: 3px solid;
  font-weight: 500;
}
