* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.senha-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.icone-olho {
  width: 22px;
  height: 22px;
  cursor: pointer;
  position: absolute;
  right: 10px;
}


.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

body {
  background-color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.box {
  background-color: #fff;
  border-radius: 12px;
  padding: 40px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.icon {
  width: 70px;
  display: block;
  margin: 0 auto 10px auto;
}

h1 {
  font-size: 26px;
  color: #333;
  margin-bottom: 10px;
}

p {
  color: #666;
  font-size: 15px;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  font-weight: bold;
  color: #333;
  font-size: 14px;
  margin-bottom: 4px;
}

select,
input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f6f6f6;
  font-size: 14px;
  transition: 0.3s;
}

select:focus,
input:focus {
  outline: none;
  border-color: #f5a200;
  background-color: #fff;
}

#camposDinamicos {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.btn {
  width: 100%;
  max-width: 250px;
  margin: 25px auto 0 auto;
  padding: 12px;
  background-color: #f5a200;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #e09000;
  transform: scale(1.03);
}